[Unit]
Description=Btlab bot
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/bot/tbot-ttclub-etalon
ExecStart=/opt/bot/tbot-ttclub-etalon/.venv/bin/python bot.py
Restart=on-abort
User=tbot

[Install]
WantedBy=multi-user.target
