# Токен доступа
ACCESS_TOKEN = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
# ID группы для отправки уведомлений (замените на свой)
GROUP_CHAT_ID = -000000000000000  # Замените на реальный ID группы
# ID администратора (замените на свой)
ADMIN_USER_IDS = [
    00000000000000
]
# Лог файл
LOG_FILE = './log/bot.log'
# Файл базы данных
DB_FILE='./database/tournaments.db'
# Таймаут
POLLING_TIMEOUT = 120